header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url('../images/logo.png');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

