.filters {
    display: flex;
    align-items: stretch;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.locations, .amenities {
    position: relative;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding: 15px;
}

.locations h3, .amenities h3 {
    font-weight: 600;
}

.locations ul, .amenities ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.locations h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.locations:hover ul, .amenities:hover ul {
    display: block;
}

